/* Copied over from vimium project */
.VimFxReset {
    background: none;
    border: none;
    /*bottom: auto;*/
    box-shadow: none;
    color: WindowText;
    cursor: auto;
    display: inline;
    float: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans";
    font-size: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    /*left: auto;*/
    letter-spacing: 0;
    line-height: 100%;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    padding: 0;
    position: static;
    /*right: auto;*/
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    /*top: auto;*/
    vertical-align: baseline;
    white-space: normal;
    width: auto;
    z-index: 99999999;
    float: none;
}

/* Find */

input.VimFxNotFound#VimFxFindInput {
    color: red;
}

div.VimFxKeySequence {
    max-width:70px;
    text-align: right;
    font-weight:bold;
    color:#2f508e;
    white-space: nowrap;
}

a.VimFxKeyLink {
    display: inline;
    background: #777;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    text-shadow: 1px 1px #666;
    font-size: 75%; 
    padding: 2px 3px;
}

a.VimFxKeyLink:hover {
    outline: 3px solid #c55500; 
    -moz-outline-radius: 6px;
    background: #c55500;
    border-radius: 0px;
    text-decoration: none;
}

a.VimFxAddShortcutLink {
    color: #c55500;
    cursor: pointer;
    margin-left: 2px;
}

input#VimFxFindInput {
    position: fixed;
    bottom: 2px;
    right: 2px;
    font-size: 13px;
    min-width: 200px;
    background: white;
    border: solid 1px ThreeDShadow;
    border-radius: 3px 3px 0 0;
    padding: 4px 4px 6px;
}

/* Markers */

div.VimFxHintMarker {
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    padding: 1px 2px 0 2px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    background-color: #FFD76E;
    border: solid 1px #E1BA53;
    border-radius: 2px;
}

div.VimFxHiddenHintMarker > span {
    display: none;
}

div.VimFxHintMarker > span {
    color: #302505;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans";
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

div.VimFxHintMarker > span.VimFxCharMatch {
    color: #ffa22a;
}

/* Help Dialog */

div#VimFxHelpDialog {
    opacity:0.92;
    background-color: Window;
    position:fixed;
    border-radius:3px;
    padding:15px 30px;
    width:700px;
    left:50%;
    /* This needs to be 1/2 width to horizontally center the help dialog */
    margin-left:-380px;
    top:30px;
    box-shadow: rgba(1, 2, 1, 0.4) 0px 0px 6px;
    overflow-y: auto;
    z-index:99999998;
    font-size: 15px;
    max-height: 80%;
}

div#VimFxHelpDialog .VimFxTitle {
    font-size: 30px;
    line-height: 130%;
    display: block;
    float: left;
}

div#VimFxHelpDialog .VimFxClearFix {
    clear: both;
    float: none;
    display: block;
    visibility: hidden;
    height: 0;
}

div#VimFxHelpDialog .VimFxTitleVim {
    color: darkgreen;
}

div#VimFxHelpDialog .VimFxTitleFx {
    color: darkred;
}

div#VimFxHelpDialog .VimFxVersion {
    float: right;
    position: absolute;
    top: 20px;
    right: 100px;
    font-size: 12px;
}

div#VimFxHelpDialog .VimFxClose {
    float: right;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans";
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}

div#VimFxHelpDialog .VimFxSocial {
    float: left;
}

div#VimFxHelpDialog .VimFxColumn {
    width: 46%;
    margin: 0 0 0 8%;
    float: left;

    margin-bottom: 10px;
}

div#VimFxHelpDialog .VimFxColumn:first-child
{    margin: 0;}

div#VimFxHelpDialog .VimFxSectionTitle {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
    margin: 30px 0 10px 0;

}

div#VimFxHelpDialog table.VimFxReset {
    display: table;
    table-layout: fixed;
}

div#VimFxHelpDialog tr.VimFxReset {
    display: table-row;
}

div#VimFxHelpDialog td.VimFxReset {
    display: table-cell;
    padding-top: 2px;
    padding-bottom: 4px;
    line-height: 15px;

}

div#VimFxHelpDialog .VimFxSocial {
    margin: 30px 0 0 0;
    font-size: 12px;
}

div#VimFxHelpDialog .VimFxSocial p {
    display: block;
    line-height: 150%;
    margin: 0 0 5px 0;
}

div#VimFxHelpDialog .VimFxSocial a {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
}

div#VimFxHelpDialog span.VimFxDot {
    color: #818181;
}
