<?xml version="1.0" encoding="utf-8"?>

<RDF xmlns="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:em="http://www.mozilla.org/2004/em-rdf#">

  <Description about="urn:mozilla:install-manifest">
    <em:name>VimFx</em:name>
    <em:id>VimFx{{idSuffix}}@akhodakivskiy.github.com</em:id>
    <em:homepageURL>https://github.com/akhodakivskiy/VimFx</em:homepageURL>
    <em:version>{{version}}</em:version>
    <em:bootstrap>true</em:bootstrap>
    <em:multiprocessCompatible>true</em:multiprocessCompatible>
    <em:type>2</em:type>
    <em:optionsType>3</em:optionsType> <!-- OPTIONS_TYPE_TAB -->
    <em:optionsURL>chrome://vimfx/content/options.xhtml</em:optionsURL>

    <!-- Firefox -->
    <em:targetApplication>
      <Description>
        <em:id>{ec8030f7-c20a-464f-9b0e-13a3a9e97384}</em:id>
        <em:minVersion>{{minVersion}}</em:minVersion>
        <em:maxVersion>{{maxVersion}}</em:maxVersion>
      </Description>
    </em:targetApplication>

    <em:description>{{defaultDescription}}</em:description>

    <em:creator>{{creator}}</em:creator>

    {{#developers}}
    <em:developer>{{name}}</em:developer>
    {{/developers}}

    {{#contributors}}
    <em:contributor>{{name}}</em:contributor>
    {{/contributors}}

    {{#translators}}
    <em:translator>{{name}}</em:translator>
    {{/translators}}

    {{#descriptions}}
    <em:localized>
      <Description>
        <em:name>VimFx</em:name>
        <em:locale>{{locale}}</em:locale>
        <em:description>{{description}}</em:description>
      </Description>
    </em:localized>
    {{/descriptions}}

  </Description>
</RDF>
