#detail-rows {
  padding: 0 2em;
  margin: auto;
  min-width: 550px;
}
.setting {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #c1c1c1;
  min-height: 35px;
  line-height: 20px;
}
.setting>:first-child {
  display: flex;
}
.setting.first-row {
  border-top: none;
  margin-top: 2em;
}
.setting.first-row .title {
  font-weight: bold;
}
.setting .title,
.setting .desc,
.setting .control {
  padding: 4px;
}
.setting .title {
  flex: 1;
  min-width: 15em;
  max-width: 25em;
}
.setting .desc {
  color: graytext;
  margin-inline-start: 2em;
}
.setting .desc:empty {
  display: none;
}
.setting input[type] {
  border-radius: 4px;
  margin: 2px 0;
}
.setting input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.setting input[type="text"],
.setting input[type="number"] {
  flex: 1;
  min-width: 200px;
  padding: 0.5em;
}

#header .control {
  flex: 1;
  text-align: right;
  height: 1px; /* let it overlap the empty part of the description */
}
#header .control a {
  float: left;
}
